# Python bytecode
__pycache__/
*.py[cod]

# Ambientes virtuais
venv/
.env/
.env

# Chalice build/deploy files
.chalice/deployments/
.chalice/policy-dev.json
.chalice/policy.json

# IDEs
.vscode/
.idea/

# Arquivos temporários
*.log
*.tmp
*.swp
.DS_Store
